html
  include partials/header.pug
  body 
    h1 YAM'S 
    p Venez gagner des pâtisseries !
    span Patisseries à gagner : #{count}

    ul 
      each patisserie in patisseries
        li #{patisserie.name} : #{patisserie.number}