html
  include partials/header.pug
  body 
    if patisseries
    h1.green= message
    h3= msg2

    if patisseries[0]
      span patisseries gagnées :
      ul 
        each val in patisseries
          li= val.name
      button