html
  include partials/header.pug
  body 
    form(role='form' method='GET' action='https://www.google.com/')
      div.form-group
        label(for='name') Name:
        input#name.form-control(type='text', placeholder='name' name='name')
      div.form-group
        label(for='email') Email:
        input#email.form-control(type='email', placeholder='name@email.com' name='email')
      button.btn.btn-primary(type="submit", name="asdf") Submit