html
  include partials/header.pug
  include partials/navbar.pug
  body 
    form(role='form' method='POST' action='/login-form')
      div.form-group
        label(for='email') Email:
        input#email.form-control(type='email', placeholder='name@email.com' name='email')
      div.form-group
        label(for='password') Name:
        input#name.form-control(type='password', placeholder='password' name='password')
      button.btn.btn-primary(type="submit") Submit